<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            &copy; 2023 - 2023
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>