{% extends 'base/base.html' %}

{% load static %}

{% load custom_filters %}

{% block 'title' %} {{ article.title }} {% endblock %}

{% block 'main' %}
    <h1 class="text-center my-2">
        {{ article.title }}
    </h1>
    <div class="my-3">
        <div style="height: 200px;" class="w-100">
            <img src="{% static 'img/travel.jpg' %}" alt="" class="w-100 h-100">
        </div>
        <div class="py-2 d-flex">
            <p>
                {{ article.desc | truncatewords:3 }}
            </p>
            <p class="mx-2">
                {{ testVar|mon_filtre_custom }}
            </p>
            <p class="ms-3">
                {{ ma_date|date:"d/m/Y" }}
            </p>
        </div>
    </div>
{% endblock %}